@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
        top: 50%;
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0) scale(1);
        top: 25vh;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-zoom-in {
    animation: zoom-in 0.3s ease-out forwards;
}

.animate-fade-in {
    animation: fade-in 0.3s ease-out forwards;
}